* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
  }
  
  a {
	text-decoration: none;
  }

  .header-left img {
  width: 60px;
  height: 50px;
  margin-top : 7px;
  margin-left : 10px;
  float : left;
  }

  .header-left h1 {
	font-size : 40px;
	font-family : serif;
	margin : 0 0;
	margin-left : 90px;
	padding-top : 3px;
	line-height: 65px;
	color :black;
  }

  .header-left span {
	font-size : 20px;
	color :black;
	font-family : monospace;
	margin : 0 0;
	padding-left : 20px;
	padding-top : 3px;	  
  }

  .container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
  }
  
  .p-text {
	margin : 0 auto ; 
	width : 1000px;
  }

  .top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(top3.png);
	background-size: cover;
	color: white;
	text-align: center;
	background-repeat: no-repeat;
  }
  
  .top-wrapper h1 {
	font-size: 45px;
	letter-spacing: 5px;
  }
  
  .top-wrapper p {
	font-size: 22px;
	margin-bottom: 40px;
  }
  
  .btn-wrapper {
	text-align: center;
  }
  
  .btn-wrapper p {
	margin-bottom: 20px;
  }
  
  .signup {
	background-color: #239b76;
  }
  
  .facebook {
	background-color: #3b5998;
	margin-right: 10px;
  }
  
  .twitter {
	background-color: #55acee;
  }
  
  .btn {
	padding: 8px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
	text-align: center;
  }
  
  .btn:hover {
	opacity: 1;
  }
  
  .fa {
	margin-right: 5px;
  }
  
  header {
	height: 65px;
	width: 100%;
	background-color:white;
	position :fixed;
	opacity : 0.8;
	top: 0;
	z-index: 10;
  }
  
  .header-left {
	float: left;
  }
  
  .header-right {
	float: right;
	margin-right: -25px;
  }
  
  .header-right a {
	line-height: 65px;
	padding: 0 25px;
	color:black;
	display: block;
	float: left;
	transition: all 0.5s;
  }
  
  .header-right a:hover {
	background-color: rgba(122, 5, 126, 0.658);
  }
  
  .lesson-wrapper {
	height: 730px;
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #f7f7f7;
	text-align: center;
  }
  
  .heading {
	padding-top: 80px;
	padding-bottom: 50px;
	color: #5f5d60;
  }
  
  .heading h1 {
	font-weight: normal;
  }
  
  .lesson {
	float: left;
	width: 25%;
  }
  
  .lesson-icon {
	position: relative;
  }
  
  .lesson-icon p {
	position: absolute;
	top: 32%;
	width: 100%;
	color: white;
	font-size: 20px;
  }
  
  .text-contents {
	width: 80%;
	display: inline-block;
	margin-top: 15px;
	font-size: 16px;
	color: #0a0a0a7e;
	margin-right :35px; 
  }
  
  .heading h3 {
	font-weight: normal;
	width : 900px;
	margin : 0 auto;
  }
  
  .message-wrapper {
	height : 385px;
	border-bottom: 1px solid #eee;
	text-align: center;
  }
  
  .message {
	padding: 15px 40px;
	background-color: #5dca88;
	cursor: pointer;
	box-shadow: 0px 7px #1a7940;
	margin-bottom : 50px;
  }
  
  .message:active {
	position: relative;
	top: 7px;
	box-shadow: none;
  }
  
  footer img {
	width: 100px;
  }
  
  footer p {
	color: #b3aeb5;
	font-size: 12px;
	float : left ; 
  }
  
  footer {
	padding-top: 30px;
	float : left ; 
  }

  footer h1{
	margin: 0 0;
  }

  .footer-container img {
	width: 60px;
	height: 50px;
	margin-left : 30px;
	float : left;
	}

  .footer-container h1 {
	font-size : 40px;
	font-family : serif;
	margin : 0 0;
	margin-left : 110px;
	color : black;
  }

  .footer-container span {
	font-size : 20px;
	color : black;
	font-family : monospace;
	margin : 0 0;
	padding-left : 20px;	  
  }

  .footer-container p {
	margin-left : 110px;
	font-size : 16px;
	margin-top : -10px;
  }  
  
  .menu-icon {
	color:black;
	float: right;
	font-size: 25px;
	padding: 21px 0;
	display: none;
  }
  
  .clear {
	clear: left;
  }
  
  @media all and (max-width: 1000px) {
	.lesson {
	  width: 50%;
	  margin-bottom: 50px;
	}
  
	.lesson-wrapper {
	  height: 990px;
	}
  }
  
  @media all and (max-width: 750px) {
	.top-wrapper h1 {
	  font-size: 32px;
	}
  
	.heading h2 {
	  font-size: 20px;
	}
  }
  
  @media all and (max-width: 670px) {
	.header-right {
		display: none;
	  }
  
	.menu-icon {
	  display: block;
	}
  
	.top-wrapper .btn {
	  width: 100%;
	}
  
	.twitter {
	  margin-top: 10px;
	}
  
	.top-wrapper {
	  text-align: left;
	}
  
	.top-wrapper h1 {
	  font-size: 24px;
	}
  
	.top-wrapper p {
	  font-size: 14px;
	}
  
	.lesson {
	  width: 100%;
	}
  
	.lesson-wrapper {
	  height: 1700px;
	}
  
	.message-wrapper .btn {
	  width: 100%;
	}
  }
  
  .footer-container img {
	width: 60px;
	height: 50px;
	margin-top : 7px;
	margin-left : 30px;
	float : left;
	}

  .footer-container h1 {
	font-size : 40px;
	color : white;
	font-family : serif;
	margin : 0 0;
	margin-left : 110px;
	color : black;
  }

  .footer-container span {
	font-size : 20px;
	color : black;
	font-family : monospace;
	margin : 0 0;
	padding-left : 20px;	  
  }

  .footer-container p {
	margin-left : 110px;
	font-size : 16px;
	margin-top : -10px;
  }
    
  @media(max-width:670px) {
	  .top-wrapper h1 {
		 text-align: center ;
	  }
	  .p-text {
	   width : 100%;
	  }
	  .heading h3 {
	   width : 100%;		
	  }
	  .footer-container h1 {
		  margin-right: 150px;
	  }
	  .footer-container p {
		margin-right: 150px;
	}
      .footer-container img {
		margin-top : 4px;
	}
	  .top-wrapper {
		background-size : 100% ;
		margin-top : 65px;
		padding: 10px;
	}
	 .btn {
		 width : 100%;
	 }

	 .lesson-wrapper {
		 margin-top : 10px;
	 }
	 .header-left img {
		width: 50px;
		height: 40px;
		margin-top : 12px;
		margin-left : 5px;
		}
		.header-left h1 {
		  font-size : 30px;
		  font-family : serif;
		  margin : 0 0;
		  margin-left : 65px;
		  padding-top : 4px;
		  line-height: 65px;
		  color :black;
		}
		.header-left span {
		  font-size : 15px;
		  color :black;
		  font-family : monospace;
		  margin : 0 0;
		  padding-left : 8px;
		  padding-bottom : 3px;		  	  
		}
		.footer-container img {
			width: 50px;
			height: 40px;
			margin-top : 2px;
			margin-left : 20px;
			float : left ;
			}
		  .footer-container h1 {
			font-size : 30px;
			font-family : serif;
			margin : 0 0;
			padding-top : 5px;
			padding-left : 5px;
			color : black;
			float : left ;
		  }
		  .footer-container span {
			font-size : 15px;
			color : black;
			font-family : monospace;
			margin : 0 0;  
			padding-left : 8px;
		  }
		  .footer-container p {
			margin-left : 75px;
			font-size : 12px;
			padding-top: -10px;
		  }
		  .message-wrapper {
			  height : 940px;
		  }		  
  }
